.form-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.head-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
}

.btn-submit {
  width: 150px;
  padding: 5px;
  margin: 20px 125px;
  border-radius: 10px;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: rgba(255, 255, 255, 0.3);
}