header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

header span {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

main button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main button:hover {
  background-color: #555;
  transform: scale(1.1);
}